@import "helpers/mixins.scss";
@import "helpers/settings.scss";

body {
	font: {
		size: 16px;
		family: sans-serif;
	}
	margin: 0;
	margin-bottom: 300px;
	padding: 0;
}
.homepage-row {
	width: 100%;
	&.dark {
		background-color: black;
	}
	.homepage-row-inner {
		width: 100%;
		max-width: 1024px;
		margin: {
			right: auto;
			left: auto;
		}
	}
}
.section-title {
	margin: {
		top: 25px;
		bottom: 25px;
	}
	text: {
		transform: uppercase;
		align: center;
	}
	font: {
		size: 2.5rem;
	}
	> a {
		color: inherit;
		text: {
			decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&.dark-grey {
		color: $dark-grey;
	}
}
.ui-container {
	box-sizing: border-box;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 50px;
	padding: 25px;
	border-bottom: 25px solid $al-green;
	background-color: $jack-black;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	@media(min-width: 1024px){
		display: flex;
		.ui-column {
			width: calc(50% - 50px);
		}
	}
	.ui-column{
		.ui-buttons + .ui-buttons {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid $light-grey;
		}
	}
	.ui-buttons {
		display: flex;
		font-size: 1rem;
		justify-content: flex-start;
		flex-wrap: wrap;

		.ui-title {
			width: 100%;
			margin-top: 0;
			color: $jack-white;
			font-size: inherit;
			text-align: center;
		}
		.style-button {
			width: calc(50% - 10px);
			margin: 10px;
			padding: 10px;
			border: none;
			color: $jack-black;
			background-color: $jack-white;
			background-color: $light-grey;
			@media(min-width: 768px){
				width: calc(25% - 30px);
			}
			font: {
				size: .75rem;
				weight: 700;
			}
			text: {
				transform: uppercase;
			}
			&:hover {
				background-color: lighten($jack-black, 80%);
			}
			&.active {
				color: $jack-white;
				background-color: $al-green;
			}
		}
		.output-code {
			width: 100%;
			padding: 30px;
			border-radius: 15px;
			color: $jack-white;
			background-color: rgba($jack-white, 0.2);
			margin: {
				top: 25px;
			}
			.code-title {
				margin: {
					top: 0;
					bottom: 15px;
				}
			}
			.code-description{
				& + .code-description{
					margin-bottom: 15px;
				}
			}
		}
	}
}

@import "interface";