@import 'events_partials/events-settings.scss';
@import "../colors";



#events_container{
	.items-list{
		.item{
			display: flex;
			align-items: stretch;
			.item-date{
				height: 100%;
				text:{
					transform: uppercase;
				}
				font:{
					size: 1.25rem;
					weight: 700;
				}

				///// Shapes
				&.circle, &.square, &.rombus{
					flex: none;
					height: $date-width;
					width: $date-height;
					margin:{
						right: $date-margin;
					}
				}
				&.circle{
					border-radius: 50%;
				}
				&.rombus{
					position: relative;
					background-color: transparent !important;
					&:before, &:after{
						position: absolute;
						display: block;
						content: "";
						z-index: -5;
					}
					&:before{
						top: 0;
						left: 0;
						border-bottom: #{$date-width / 2} solid $al-green; 
						border-left: #{$date-width / 2} solid transparent; 
						border-right: #{$date-width / 2} solid transparent; 
					}
					&:after{
						bottom: 0;
						left: 0;
						border-top: #{$date-width / 2} solid $al-green; 
						border-left: #{$date-width / 2} solid transparent; 
						border-right: #{$date-width / 2} solid transparent; 
					}
					.event-day, .event-month{
						position: relative;
					}
				}


				///// Colors
				&.green{
					color: $al-green-over;
					background-color: $al-green;
				}
				&.red{
					color: $red-fox-over;
					background-color: $red-fox;
				}
				&.blue{
					color: $betty-blue-over;
					background-color: $betty-blue;
				}
				&.yellow{
					color: $yellow-ono-over;
					background-color: $yellow-ono;
				}
				font-size: 1.3rem;
				.event-day{
					font:{
						//size: 1.5em;
					}
					height: 1em;
				}
			}
			.item-summary{
				padding: 10px;
				font-size: 1rem;
				width: calc(100% - #{$date-margin + $date-width});
				&.light{
					color: $jack-black;
				}
				&.dark{
					color: $jack-white;
					background-color: $dark-grey;
				}
				.item-name{
					font-size: inherit;
					margin:{
						top: 0;
						bottom: .5em;
					}
				}
				.item-text{
					font-size: .8em;
					display: block;
					width: 100%;
				}
			}
		}
	}
}