@import "../styles/mixins";
@import "../styles/colors";
@import "events_partials/events-settings";

@mixin center-date {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: {
		direction: column;
	};
}

@mixin square-date {
	@include center-date;
	width: $date-height;
	height: $date-width;
	flex: none;
	margin: {
		right: $date-margin;
	};
}

@mixin summary-rest-of-width{
	width: calc(100% - #{$date-width - $date-margin});
}


.alt-1 {
	$triangle-size: $date-width / 2;
	.section-title {
		color: $betty-blue;
	}

	.items-list {
		.item {
			position: relative;
			display: flex;
			@include pseudo {
				@include triangle-eq(4, #{$date-height / 2}, $light-grey);
				position: absolute;
				top: 0;
				left: 100%;
			}
			&-date {
				@include square-date;
				position: relative;
				width: $date-width;
				height: $date-height;
				color: $jack-white;
				flex: none;
				@include pseudo-both {
					position: absolute;
					z-index: 1;
					left: 0;
				}
				&:before {
					@include triangle-eq(3, #{$date-height / 2}, $betty-blue);
					top: 0;
				}
				&:after {
					@include triangle-eq(1, #{$date-height / 2}, $betty-blue);
					bottom: 0;
				}
				.event-day, .event-month {
					position: relative;
					z-index: 2;
				}
			}
			&-summary {
				width: calc()
				position: relative;
				z-index: 10;
				display: flex;
				height: $date-height;
				padding: 0 10px;
				background-color: $light-grey;
				font-size: .75rem;
				flex-direction: column;
				justify-content: center;
				flex: 1;
				@include pseudo-both {
					position: absolute;
					left: #{$date-width / 2 * -1};
				}
				.item-name {
					margin: 0;
					font-size: inherit;
				}
				&:before {
					@include rectangle-triangle(2, #{$date-width / 2}, $light-grey);
					top: 0;
				}
				&:after {
					@include rectangle-triangle(3, #{$date-width / 2}, $light-grey);
					bottom: 0;
				}
			}
		}
	}
}

.alt-2 {
	.section-title {
		color: $red-fox;
	}
	.items-list {
		.item {
			display: flex;
			color: $jack-white;
			font-family: serif;
			font-size: 16px;
			&-date {
				@include square-date;
				position: relative;
				width: $date-width * 0.5;
				height: $date-height;
				background-color: $red-fox;
				font-size: 1.5rem;
				font-weight: 700;
				flex: none;
				@include mask {
					@include rectangle-triangle(1, $date-height, $red-fox, 50px);
					top: 0;
					left: 100%;
				}
				.event-day {
					height: 1em;
				}
				.event-day, .event-month {
					position: relative;
					text-indent: .8em;
				}
			}
			&-summary {
				@include summary-rest-of-width;
				display: flex;
				box-sizing: border-box;
				margin-left: 45px;
				padding-right: 15px;
				background-color: $red-fox;
				font-size: .8rem;
				flex-direction: column;
				justify-content: center;
				@include mask {
					@include rectangle-triangle(3, $date-height, $red-fox, 50px);
					top: 0;
					right: 100%;
				}
				.item-name {
					margin: 0;
					font-size: inherit;
				}
			}
		}
	}
}

.alt-3 {
	.section-title {
		color: $yellow-ono;
	}
	.items-list{
		.item{
			position: relative;
			font-family: serif;
			margin-top: $date-height / 2;
			padding: 10px 20px;
			border-radius: 15px;
			box-sizing: border-box;
			background-color: lighten($yellow-ono, 30%);
			font-family: serif;
			&-date {
				@include square-date;
				position: absolute;
				top: -#{$date-height / 2};
				left: 0;
				background-color: $yellow-ono;
				color: $yellow-ono-over;
				width: $date-width;
				height: $date-height;
				border-radius: 50%;
				color: $yellow-ono-over;
				background-color: $yellow-ono;
				float: left;
				font: {
					size: 1.5rem;
					weight: 700;
				};
				.event-day {
					height: 1.7rem;
					font-size: 2rem;
				}
			}
			&-summary {
				z-index: 5;
				display: flex;
				width: 100% !important;
				flex-direction: column;
				font: {
					size: 1rem;
				};
				.item-name {
					text: {
						align: center;
					}
					min-height: 2rem;
					margin:{
						top: 0;
						bottom: 15px;
						left: $date-width;
					};
					font: {
						size: inherit;
					};
				}
			}
		}
	}
}

.alt-4{
	.section-title{
		color: $electro-purple;
	}
	.items-list{
		.item{
			position: relative;
			&-date{
				top: 25px;
				width: 110px;
				position: absolute;
				display: block;
				justify-content: center;
				background-color: $electro-purple;
				color: $electro-purple-over;
				padding:{
					top: 8px;
					bottom: 8px;
				}
				border-radius: 40px;
				font:{
					size: 1.5rem;
					weight: 700;
				}
				text:{
					transform: uppercase;
					align: center;
				}
				span + span{
					margin-left: 8px;
				}
			}
			&-summary{
				border-radius: 20px;
				width: calc(100% - 50px);
				padding:{
					top: 20px;
					bottom: 20px;
					left: 75px;
					right: 20px;
				}
				box-sizing: border-box;
				margin-left: auto;
				background-color: $light-grey;
				font-size: .9rem;
				.item-name{
					margin: 0;
					font-size: inherit;
				}
				.item-text{
					display: block;
				}
			}
		}
	}
}
.alt-5{
	$item-min-height: 120px;
	font-family: serif;
	.section-title{
		color: $aqua-green;
	}
	.items-list{
		.item{
			position: relative;
			padding: 5px 5px 5px 20px;
			box-sizing: border-box;
			background-color: $aqua-green;
			&-date{
				position: absolute;
				top: $item-min-height / 2;
				left: -38px;
				font-size: 1.5rem;
				color: $jack-white;
				transform: rotate(90deg);
				width: $item-min-height;
				text-align: center;
				span + span{
					margin-left: 8px;
				}
			}
			&-summary{
				min-height: $item-min-height;
				width: calc(100% - 40px);
				margin: 10px auto 10px auto;;
				background-color: $light-grey;
				font-size: 1rem;
				padding: 15px;
				box-sizing: border-box;
				.item-name{
					font-size: inherit;
					margin:{
						top: 0;
						bottom: 0;
					}
				}
				.item-text{
					display: block;
					b{
						font-weight: 400;
					}
				}
			}
		}
	}
}

.events-container {
	.section-title {
		color: $al-green;
	}
	.items-list {
		.item {
			display: flex;
			align-items: stretch;
			.item-date {
				@include center-date;
				height: 100%;
				text: {
					transform: uppercase;
				}
				font: {
					size: 1.25rem;
					weight: 700;
				}

				.event-day {
					font-size: 2rem;
				}

				///// Shapes
				&.square {
					@include square-date;
				}

				&.circle {
					@include square-date;

					border-radius: 50%;
				}

				&.rombus {
					@include square-date;

					position: relative;
					background-color: transparent !important;

					@include pseudo-both {
						position: absolute;
						z-index: -5;
						left: 0;
					}


					&:before {
						@include triangle-eq(3, #{$date-width / 2}, $al-green);

						top: 0;
					}

					&:after {
						@include triangle-eq(1, #{$date-width / 2}, darken($al-green, 10%));

						bottom: 0;
					}

					.event-day, .event-month {
						position: relative;
					}
				}

				&.rombus-horizontal {
					@include square-date;

					position: relative;
					background-color: transparent !important;

					@include pseudo-both {
						position: absolute;
						z-index: -5;
						top: 0;
					}


					&:before {
						@include triangle-eq(2, #{$date-width / 2}, $al-green);

						left: 0;
					}

					&:after {
						@include triangle-eq(4, #{$date-width / 2}, darken($al-green, 10%));

						right: 0;
					}

					.event-day, .event-month {
						position: relative;
					}
				}

				&.folded {
					@include square-date;

					position: relative;

					@include pseudo-both {
						position: absolute;
						top: calc(100% + 2px);
					}


					&:before {
						@include rectangle-triangle(2, 15px, lighten($al-green, 15%));

						left: 0;
					}

					&:after {
						@include rectangle-triangle(1, 15px, lighten($al-green, 15%));

						right: 0;
					}
				}

				&.cube {
					@include square-date;

					position: relative;

					@include pseudo-both {
						position: absolute;
					}


					&:before {
						top: 7px;
						left: -20px;
						width: 20px;
						height: 100%;
						background-color: darken($al-green, 5%);
						transform: skewY(-35deg);
					}

					&:after {
						right: 11px;
						bottom: -14px;
						width: 100%;
						height: 14px;
						background-color: lighten($al-green, 5%);
						transform: skewX(-55deg);
					}

					.event-day, .event-month {
						text-shadow: -2px 2px 0 rgba($jack-black, 0.3);
					}
				}

				&.hexagon {
					position: relative;
					display: flex;
					background-color: transparent !important;
					flex-direction: column;

					@include pseudo-both;

					&:before {
						@include triangle-eq(3, #{$date-width / 2}, $al-green);

						border-bottom-width: 25px;
					}

					&:after {
						@include triangle-eq(1, #{$date-width / 2}, $al-green);

						border-top-width: 25px;
					}

					.event-day, .event-month {
						display: block;
						width: 100%;
						background-color: $al-green;
						text-align: center;
					}
				}

				&.mosaic {
					@include square-date;

					position: relative;

					@include pseudo-both {
						position: absolute;
						z-index: 5;
						width: $date-width / 2;
						height: $date-height / 2;
						background-color: darken($al-green, 5%);
					}


					&:before {
						top: 0;
						left: 0;
					}

					&:after {
						right: 0;
						bottom: 0;
					}

					.event-day, .event-month {
						z-index: 10;
					}
				}

				&.flag {
					@include square-date;

					position: relative;
					box-sizing: border-box;

					@include pseudo-both {
						position: absolute;
					}


					&:before {
						top: 0;
						left: 0;
						width: 100%;
						height: 10px;
						background-color: darken($al-green, 15%);
					}

					&:after {
						@include triangle-eq(1, $date-width / 2, $al-green);

						top: 100%;
						border-top-width: 15px;
					}
				}

				&.prism {
					@include square-date;

					position: relative;
					left: -20px;
					transform: skewY(-15deg);

					@include pseudo-both {
						position: absolute;
					}


					&:after {
						top: 5px;
						left: 100%;
						width: 20px;
						height: 100%;
						background-color: darken($al-green, 15%);
						transform: skewY(30deg);
					}

					&:before {
						top: 100%;
						left: 10px;
						width: 100%;
						height: 10px;
						background-color: lighten($al-green, 15%);
						transform: skewX(60deg);
					}

					.event-day, .event-month {
						text-shadow: 3px 3px 0 rgba($jack-black, 0.3);
					}
				}

				&.clip {
					width: $date-width / 2;
					height: $date-height;
					margin-right: $date-margin;
					padding-left: 15px;

					@include mask {
						@include rectangle-triangle(4, $date-height, $al-green, $date-width / 3);

						top: 0;
						left: 100%;
					}
				}

				.event-day, .event-month {
					transition: all .2s ease-out;
				}

				.event-day {
					font: {
						//size: 1.5em;
					};
					height: 1em;
				}
			}

			.item-date, .item-summary {
				///// Colors
				font-size: 1.3rem;

				&.green {
					color: $al-green-over;
					background-color: $al-green;
				}

				&.red {
					color: $red-fox-over;
					background-color: $red-fox;
				}

				&.blue {
					color: $betty-blue-over;
					background-color: $betty-blue;
				}

				&.yellow {
					color: $yellow-ono-over;
					background-color: $yellow-ono;
				}

				// Color
				&.light {
					color: rgba($jack-black, 0.75);
					background-color: lighten($jack-black, 90%);
				}

				&.dark {
					color: $jack-white;
					background-color: $dark-grey;
				}
			}

			.item-summary {
				width: calc(100% - #{$date-margin + $date-width});
				padding: 10px;
				transition: all .2s ease-in;
				font-size: 1rem;

				// Shape
				&.round {
					border-radius: 15px;
				}

				&.corner {
					border-radius: 0;
				}

				&.stroke {
					box-sizing: border-box;
					border: 2px solid $al-green;
					border-radius: 0;
					color: $al-green;
					background-color: transparent;
				}

				.item-name {
					font-size: inherit;
					margin: {
						top: 0;
						bottom: .5em;
					};
				}

				&.prism {
					position: relative;
					border-radius: 0;
					background-color: darken($al-green, 15%);
					transform: skewY(15deg);

					@include pseudo-both {
						position: absolute;
					}


					&:before {
						right: 9px;
						bottom: -11px;
						width: 100%;
						height: 11px;
						background-color: $al-green;
						transform: skewX(-60deg);
					}

					&:after {
						top: 6px;
						left: -20px;
						width: 20px;
						height: 100%;
						background-color: lighten($al-green, 15%);
						transform: skewY(-30deg);
					}

					.item-name, .item-text {
						text-shadow: 2px 2px 0 rgba($jack-black, 0.3);
					}
				}

				&.clip {
					height: $date-height;
					margin-left: $date-width / 3;

					@include mask {
						@include rectangle-triangle(2, $date-height, $al-green, $date-width / 3);

						top: 0;
						right: 100%;
					}
				}

				.item-text {
					display: block;
					width: 100%;
					font-size: .8em;
				}
			}
		}
	}
}

.slick-events {
	margin-bottom: 50px;

	.item {
		margin: 0 15px;
		padding: 10px;
		color: $light-grey;
		background-color: $dark-grey;
		font-family: serif;

		&-date {
			font: {
				size: 2rem;
				weight: 700;
			};
			margin-bottom: 10px;
			text-align: center;

			span + span {
				margin-left: .5rem;
			}
		}

		&-summary {
			padding: 10px;
			border-radius: 10px;
			color: $jack-black;
			background-color: $light-grey;
			text-align: center;

			.item-name {
				margin: {
					top: 0;
					bottom: 8px;
				};

				> a {
					color: inherit;
					text-decoration: none;

					&:hover {
						text-decoration: underl	ine;
					}
				}
			}

			.item-text {
				display: block;
			}
		}
	}
}