@import "events_partials/_events-settings";

#events_container{
	.section-title{
		text-transform: uppercase;
		>a{
			color: inherit;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.items-list{
		&:not(.slicked){
			display: flex;
			flex:{
				direction: row;
				wrap: wrap;
			}
			justify-content: center;
			text-align: center;
			.item{
				@media(max-width: 768px){
					width: calc(100% / #{$events-columns-small} + #{$events-item-margin * 2});
					margin: $events-item-margin;
				}
				@media(min-width: 768px) and (max-width: 1024px){
					width: calc(100% / #{$events-columns-mid} + #{$events-item-margin * 2});
					margin-bottom: $events-item-margin;
				}
				@media(min-width: 1024px){
					width: calc(100% / #{$events-columns-large} - 20px);
					margin-bottom: $events-item-margin;
				}
			}
			@media(min-width: 1024px){
				justify-content: space-between;
			}
		}
		.item{
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			flex-direction: column;
			.item-date{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				widht: $date-width;
				height: $date-height;
				margin: 0 auto $date-margin auto;
				transition: all .2s ease-out;
				&:before, &:after{
					transition: all .2s ease-in;
				}
			}
			.item-summary{
				width: 100%;
				.item-name{
					>a{
						color: inherit;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
			&.row{
				flex-direction: row;
				text-align: left;
				.item-date{
				}
				.item-summary{
					width: calc(100% - #{$date-width + $date-margin});
				}
			}
			&.row-only-large{
				@media (min-width: 1024px){
					flex-direction: row;
					text-align: left;
				}
			}
			.item-date{
			}
			.item-summary{
			}
		}
	}
}