#quicklinks{
	.items-list{
		display: flex;
		justify-content: space-around;
		.item{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;
			width: calc(100% / 7 - 10px);
			.event-date{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.event-summary{
				width: 100%;
				text-align: center;
			}
		}
	}
}