@import "../styles/helpers/settings";

.slick-slider {
	position: relative;

	.slick-arrow {
		// position: absolute;
		// width: 20px;
		// height: 100px;
		// top: calc(50% - 10px);
		z-index: 10;

		&.slick-prev {
			left: 10px;
		}

		&.slick-next {
			right: 10px;
		}
	}
}