

$jack-black					: rgb(15,15,15);
$jack-white					: rgb(255,255,255);
$dark-grey						: rgb(50,50,50);
$light-grey						: rgb(220,220,220);

$red-fox							: #bb3e53;
$red-fox-over				: white;
$al-green 			 			: #4a8153;
$al-green-over				: white;
$betty-blue						: #365484;
$betty-blue-over			: white;
$yellow-ono					: #b1b381;
$yellow-ono-over		: black;

$pinku-desu					: #af6668;
$pinku-desu-over		: #ffffff;
