.homepage-row{
	width: 100%;
	&:dark{
		background-color: black;
	}
	.homepage-row-inner{
		width: 100%;
		max-width: 1024px;
		margin:{
			left: auto;
			right: auto;
		}
	}
}

.section-title{
	margin:{
		top: 25px;
		bottom: 25px;
	}
	text-align: center;
}

.ui-events{
	width: 100%;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: rgb(75,75,75);
}
.events-buttons{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	.style-button{
		width: 100px;
		height: 50px;
		margin: 10px;
	}
}