@import 'colors.scss';

.homepage-row{
	width: 100%;
	&:dark{
		background-color: black;
	}
	.homepage-row-inner{
		width: 100%;
		max-width: 1024px;
		margin:{
			left: auto;
			right: auto;
		}
	}
}

.section-title{
	margin:{
		top: 25px;
		bottom: 25px;
	}
	text-align: center;
}

.ui-buttons{
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	background-color: $jack-black;
	.category-title{
		width: 100%;
		color: $jack-white;
		margin-top: 0;
	}
	.style-button{
		width: 100px;
		height: 40px;
		border: none;
		background-color: $jack-white;
		color: $jack-black;
		font:{
			size: .75rem;
			weight: 400;
		}
		border-radius: 25px;
		& + .style-button{
			margin-left: 20px;
		}
		&:hover{
			background-color: lighten($jack-black, 80%);
		}
	}
	.events-buttons{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		& + .events-buttons{
			padding-top: 25px;
			margin-top: 25px;
			border-top: 1px solid lighten($jack-black, 50%);
		}
	}
}


body{
	margin-bottom: 300px;
}