@import 'mixins.scss';
@import 'colors.scss';

.homepage-row{
	width: 100%;
	&:dark{
		background-color: black;
	}
	.homepage-row-inner{
		width: 100%;
		max-width: 1024px;
		margin:{
			left: auto;
			right: auto;
		}
	}
}

.section-title{
	margin:{
		top: 25px;
		bottom: 25px;
	}
	text:{
		align: center;
		transform: uppercase;
	}
	>a{
		color: inherit;
		text:{
			decoration: none;
		}
		&:hover{
			text-decoration: underline;
		}
	}
	&.dark-grey{
		color: $dark-grey;
	}
}

.ui-container{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	padding: 25px;
	box-sizing: border-box;
	background-color: $jack-black;
	margin-top: 25px;
	margin-bottom: 50px;
	border-bottom: 25px solid $al-green;
	.ui-column{
		width: calc(50% - 50px);
		.ui-buttons + .ui-buttons{
			margin-top: 20px;
			border-top: 1px solid $light-grey;
			padding-top: 20px;
		}
	}
	.ui-buttons{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		font-size: 1rem;
		.ui-title{
			font-size: inherit;
			width: 100%;
			color: $jack-white;
			margin-top: 0;
			text-align: center;
		}
		.style-button{
			width: calc(25% - 20px);
			height: 40px;
			border: none;
			background-color: $jack-white;
			color: $jack-black;
			font:{
				size: .75rem;
				weight: 400;
			}
			border-radius: 25px;
			margin: 10px;
			&:hover{
				background-color: lighten($jack-black, 80%);
			}
			&.active{
				background-color: $pinku-desu;
				color: $pinku-desu-over;
			}
		}
		.output-code{
			width: 100%;
			margin:{
				top: 25px;
			}
			padding: 30px;
			border-radius: 15px;
			background-color: rgba($jack-white, .2);
			color: $jack-white;
			.code-title{
				margin:{
					top: 0;
					bottom: 15px;
				}
			}
			.code-img{
				display: block;
				width: 100%;
			}
		}
	}
}


body{
	margin-bottom: 300px;
}