@mixin rectangle-triangle($type, $height, $color, $width: $height){
	border-style: solid;
	@if $type == 1{
		border-width: $height $width 0 0;
		border-color: $color transparent transparent transparent;
	}
	@if $type == 2{
		border-width: 0 $width $height 0;
		border-color: transparent $color transparent transparent;
	}
	@if $type == 3{
		border-width: 0 0 $height $width;
		border-color: transparent transparent $color transparent;
	}
	@if $type == 4{
		border-width: $height 0 0 $width;
		border-color: transparent transparent transparent $color;
	}
}

@mixin triangle-eq($direction, $width, $color) {
  width: 0;
  height: 0;
  $border-true: $width solid $color;
  $border-false: $width solid transparent;
  @if $direction == 1 {
    border: {
      top: $border-true;
      right: $border-false;
      left: $border-false;
    };
  }
  @if $direction == 2 {
    border: {
      top: $border-false;
      right: $border-true;
      bottom: $border-false;
    };
  }
  @if $direction == 3 {
    border: {
      right: $border-false;
      bottom: $border-true;
      left: $border-false;
    };
  }
  @if $direction == 4 {
    border: {
      top: $border-false;
      left: $border-true;
      bottom: $border-false;
    };
  }
}

@mixin pseudo($pseudo: before){
	&:#{$pseudo}{
		content: "";
		display: block;
		@content;
	}
}
@mixin pseudo-both{
	&:before, &:after{
		content: "";
		display: block;
		@content;
	}
}

@mixin mask($pseudo: before){
	position: relative;
	@include pseudo($pseudo){
		position: absolute;
		@content;
	}
}
@mixin mask-fullsize{
	position: relative;
	@include pseudo{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@content;
	}
}